<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="Samples.WcfWeb.ServiceInfo">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085/ServiceInfo/" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="Samples.WcfWeb.IServiceInfo"
						  behaviorConfiguration="Web"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="Web">
					<webHttp faultExceptionEnabled="true" />
					<!--<webHttp faultExceptionEnabled="true"
							 automaticFormatSelectionEnabled="True"
							 defaultBodyStyle="Wrapped"
							 defaultOutgoingResponseFormat="Json" />-->
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>